.svg-arrow {
	background: url("sprite.css-5d2e6881.svg") 99.6608695652174% 0 no-repeat;
}

.svg-arrow-dims {
	width: 43px;
	height: 22px;
}

.svg-fb {
	background: url("sprite.css-5d2e6881.svg") 62.337391304347825% 0 no-repeat;
}

.svg-fb-dims {
	width: 20px;
	height: 43.06px;
}

.svg-icon-bg {
	background: url("sprite.css-5d2e6881.svg") 0 0 no-repeat;
}

.svg-icon-bg-dims {
	width: 71.688px;
	height: 71.68px;
}

.svg-question {
	background: url("sprite.css-5d2e6881.svg") 85.04591410815324% 60.47278724573941% no-repeat;
}

.svg-question-dims {
	width: 27.19px;
	height: 35.62px;
}

.svg-sound {
	background: url("sprite.css-5d2e6881.svg") 61.2560881825173% 91.61702127659575% no-repeat;
}

.svg-sound-dims {
	width: 17.97px;
	height: 25px;
}

.svg-speaker {
	background: url("sprite.css-5d2e6881.svg") 98.24628099173553% 36.0655737704918% no-repeat;
}

.svg-speaker-dims {
	width: 14px;
	height: 11px;
}

